p, li {
	font-size: 16px;
}

html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

form {
	padding: 15px;
}

.content {
	padding-top: 50px;
	min-height: 1000px;
}

.content-row {
	padding-top: 40px;
}

.event-details {
	text-align: center;
	margin-bottom: 40px;
}


.navbar {
	padding: 0px;
}

.splash-image {
	height: 300px;
	background: url(../img/field.jpg);
	background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 60%;
}


.nav.navbar-nav li a {
    color: white;
    margin-left: 15px;
    margin-right: 15px;
}


.nav.navbar-nav ul {
    margin-left: 15px;
    margin-right: 15px;
}

/* navbar */
.navbar-default {
    background-color: #000000;
}

.navbar {
	border: none;
	margin-bottom: 0;
}

.navbar-left {
	text-align: left;
}

.navbar-right {
	text-align: left;
	margin-right: 0px;
}

ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
}

ul.share-buttons .sr-only {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}



ul.share-buttons img{
  width: 32px;
}

.navbar-toggle {
	margin-right: 20px;
}

#footer-logo {
	width: 33px;
	height: 33px;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url("../img/KG_WiffleBall_Logo_FINAL-01.png");
}

.footer-text {
	font-size: 10px;
}

.social-text {
	font-size: 10px;
	margin-top:11px;
}

.share {
	text-align: left;
}

.logo {
	position: absolute;
	left: 50%;
	width: 350px;
	height: 350px;
	background-image: url("../img/KG_WiffleBall_Logo_FINAL-01.png");
	background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.navbar>.container .logo, 
.navbar>.container-fluid .logo {
    margin-left: -175px;
    margin-top: -265px;

}

.navbar-collapse {
	border-width: 0px;

}

.navbar-toggle {
	float: left;
	margin-left: 20px;
}

button {
	margin-top: 10px;
}





.body-wrapper {
	min-height: 1000px;
}



.container {
padding: 0px;
	}

.container-fluid {
	padding: 0px;
}

.container-fluid .navbar {
	padding: 0px;
}

.img-rounded {
	 border-radius: 2.5%;
}

ul.nav a:hover { color: #fff !important; }

.navbar-default .navbar-nav .open .dropdown-menu>li>a, .navbar-default .navbar-nav .open .dropdown-menu {
    background-color: #000;
    color:#fff;
  }

  .navbar-default .navbar-nav>li>a {
    color: #fff;
}


.container-body {
	height:200%;
	min-height: 200%;
	padding-left: 120px;
	padding-right: 120px;
	-webkit-box-shadow: 0 0 15px rgba(0,0,0,0.25);
    -moz-box-shadow: 0 0 15px rgba(0,0,0,0.25);
    box-shadow: 0 0 15px rgba(0,0,0,0.25);

	padding-top: 15px;
	padding-bottom: 25px;
	background-color: white;
}

.container-body p {
	font-size: 21px;
	font-family: 'Open Sans', sans-serif;

}

.footer
{
    height: 65px;
    background-color: black;
    position: relative ;
    left: 0;
    right: 0;
    width: 100%;
}

.footer-body {
	padding-left: 90px;
	padding-right: 90px;
	-webkit-box-shadow: 0 0 15px rgba(0,0,0,0.25);
    -moz-box-shadow: 0 0 15px rgba(0,0,0,0.25);
    box-shadow: 0 0 15px rgba(0,0,0,0.25);
    color: white;

	padding-top: 15px;
	background-color: black;
}




.rule-page {
	max-height: 300px;
	overflow-y: scroll;
	border-style: groove;
	margin: 15px;
	padding: 15px;
}

.submission {
	padding: 15px;
}

.totals {
	padding: 15px;
}

.paypal {
	padding: 15px;
}



.row-margin {
	padding-top:10px;
}

.entry:not(:first-of-type)
{
    margin-top: 10px;
}

.entry:last-of-type
{
    margin-bottom: 10px;
}


.glyphicon
{
    font-size: 12px;
}

.registration-header {
	padding: 10px;
	margin-bottom: 0px;
}

@media only screen and (max-width: 700px) {
    .navbar>.container .logo, 
		.navbar>.container-fluid .logo {
	    margin-left: -140px;
	    margin-top: -340px;
	    width: 280px;
	    height: 280px;
	}

	.container-body {
		padding-left: 15px;
		padding-right: 15px;
		padding-top: 5px;
	}

	.footer-body {
	padding-left: 15px;
	padding-right: 15px;


	padding-top: 5px;
	background-color: black;
}


	.container-body p {
	font-size: 18px;
	font-weight: 500;
	}

	.content {
		padding-top: 10px;
	}

	.footer-text {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: 15px;
}
}


.navbar-default {
  background-color: #000000;
  border-color: #000000;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #000000;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #000000;
}
.navbar-default .navbar-toggle {
  border-color: #000000;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #000000;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #000000;
  }
}

nav {
	  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;

}


* {


          font-family: 'Roboto', sans-serif;

}



